.header {
  background-image: url('https://www.nch.ie/ArticleMedia/Images/branding/NationalConcertHall/NEW%20-%20Education/Community-144653342.jpg');
  background-size: cover;
  margin-bottom: 2rem;
}

.header div {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2rem;
}

.header h2 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: white;
}

h1, h2 {
  text-shadow: 1px 1px 3px black;
}

.header h1 {
  font-size: 6rem;
  font-family: 'Patrick Hand SC', cursive;
}
